@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;

    padding: 0;
    margin: 0;

    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

#MainContainer {
    display: flex;

    height: 100vh;

    flex-direction: column;
}

#TopBar {
    display: flex;

    font-size: 0.8em;

    padding: 0 1.5em;

    background-color: #22242e;
    color: lightgray;

    justify-content: space-between;
    align-items: center;
}

#TopBar #LeftContent #OptionsBar {
    margin: 0;
    padding: 0;
}

#TopBar #LeftContent #OptionsBar li {
    display: inline-block;

    padding: 1em 0.7em;
}

#TopBar #LeftContent #OptionsBar li:hover {
    background-color: #2d2f3a;

    border-radius: 7px;
}

#TopBar #MidContent {
    padding: 1em 0;
}

#TopBar #LeftContent, #TopBar #RightContent {
    flex: 1;
}

#CodeContainer {
    height: 70%;
}

.CodeMirror {
    width: 100vw;
    height: 100%;
}

.CodeMirror-scroll {
    height: 100%;
}

#ToggleWindows {
    background-color: #22242e;

    width: 100%;
    height: 30%;

    padding: 0 0.5em;
}

#ToggleWindowOptions {
    padding: 0.65em 1em;
}

#ToggleWindowOptions #OptionsList li {
    display: inline-block;

    font-family: 'Inter', sans-serif;
    font-size: 0.65em;

    color: #707070;
    padding-bottom: 0.5em;
}

#ToggleWindowOptions #OptionsList li.selected {
    color: #999999;

    border-bottom: 2px solid #215769;
}

#ToggleWindowOptions #OptionsList li:hover {
    color: #8f8f8f;
}

#ToggleWindows #MultiWindows {
    font-size: small;

    height: 70%;

    padding: 0.65em 2em 0.65em 1em;

    color: #b4b4b4;

    overflow: auto;
}

#ToggleWindows #MultiWindows .OutputBox .Sucess, #ToggleWindows #MultiWindows .OutputBox .Error {
    margin: 5px 0;
}

#ToggleWindows #MultiWindows .OutputBox .Error {
    color: #e20101;
}